
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --font-heading:  "Outfit", sans-serif;
    --font-body:"Roboto",sans-serif;
    --bg-color:#2d0070;
    --forground-color:white;
    --primary-color:#9f3ee7;
    --container-color:  #3e057F;

}
.dark_theme{
    --bg-color:#000000;
    --forground-color:white;
    --primary-color:#9f3ee7;
    --container-color:  rgba(99,88,198,0.2);
}
html{
    font-size: 10px;
}
html, body{
    font-family: var(--font-body);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
   font-size: 8.7rem; 
   color: white;
   font-family: var(--font-heading);
}
h2{
    font-size: 5.7rem;
   color: white;
   font-family: var(--font-heading);
}
h3{
    font-size: 2.0rem;
    text-transform: uppercase;
    line-height: 2.75rem;
    letter-spacing: 10%;
    font-weight: 600;
   color: white;
   font-family: var(--font-heading);
}
p{
    font-size: 16px;
    line-height: 2.75rem; 
   color: white;
   font-family: var(--font-body);

}
.text-md{
    font-size: 1.6rem;
    line-height: 2.75rem; 
   color: white;
   font-family: var(--font-body);
}
.text-sm{
    font-size: 1.4rem;
    line-height: 2.75rem; 
   color: white;
   font-family: var(--font-body);

}
li{
    font-size: 2.0rem;
    color: white;
    font-family: var(--font-body);
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: white;
   transition: 0.3s ease-in-out;
    &:hover{
        text-decoration: underline;
    }
}
button{
    padding: 2.2rem 3.2rem;
    font-size: 2.0rem;
    border-radius: 9999rem;
}
.solid_btn{
  background-color: var(--primary-color);
  color: white;
  border: none;
}
.outline_btn{
    background-color: transparent;
    color: white;
    border: 0.2rem solid var(--primary-color);
}
.black_btn{
    background-color: black;
    color: white;
    border: none;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--bg-color);
    
}
nav{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    margin-top: 6.4rem;
    margin-bottom: 4.8rem;
    ul{
        display: flex;
        list-style: none;
        gap:7.6rem;
    }
    .image_container{
        width: 5.0rem;
        height: 4.0rem;
      
    }
   .image_container img{
  
        height: 100%;
        object-fit: cover;
    }  
}
.hero_section{
     display: flex;
     flex-wrap: wrap;
    .content{
     flex: 1 1 300px;
     h1{
        line-height: 1;
     }
     p{
        margin-top: 2.8rem;
     }
    }
   
    .btn_container{
        margin-top: 4.8rem;
        display: flex;
        gap: 1.6rem;
        button{
            width: 25.5rem;
        }
    }
 .image-container{
      flex: 1 1 300px;
       }
  .image-container img{
        width: 100%;
      }
}

.brand_section{
     margin-top: 10rem;
    h3{  
        text-transform: capitalize;
        font-size: 4.0rem;
        margin-left: 6rem;
    }
    .brand_logos{
        height: 10rem;
        margin-top: 3.2rem;
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(99,88,198,0.2);
        padding: 1.9rem 7.6rem;
        gap:1.6rem;
        justify-content: space-between;
        border-radius: 0.8rem;
        align-items: center;
        img{
            flex: 1 1 ;
            height: auto;
         &:last-child{
             height: 100%;
            }
        }
    }
}

.feature-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:4.5rem;
    .content{
        flex: 1 1 300px;
        h2{
            margin-top: 1.6rem;
            margin-bottom: 2.0rem;
        }
        button{
            margin-top: 2.4rem;
        }
    }
    .image-container{
     flex:1 1 200px;
    
    } 
    .image-container img{
        width: 100%;
     }

}

.testimonial-section{
     margin-bottom: 9.0rem;
    margin-top: 17.4rem;
    text-align: center;
    h2{
        margin-top: 1.6rem;
    }
    .testimonial{
        margin-top: 12rem;
        gap:1.6rem;
        display: flex;
        flex-wrap: wrap;
        .card{
            flex: 1 1 400px;
            border-radius: 2rem;
            padding: 9.5rem 2.8rem 4.8rem 2.8rem;
            position: relative;
            background-color: var(--container-color);
            .image_container{
                position: absolute;
                TOP:-5rem;
                left: 50%;
                transform: translateX(-50%);
                
            }
            p{
                margin-top: 1.6rem;
            }
            .image_container img{
                width: 13.8rem;
                height: 13.8rem;
                
             }
        }
    }
}
.ready_section{
    margin-bottom: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4.8rem;
    text-align: center;
    background-color: var(--container-color) ;
    h2{
        margin: 2.4rem 0 4.8rem 0;
        text-transform: capitalize;
    }
    Button{
        max-width: 25.5rem;
        margin: 0 auto;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

}
@media (max-width:998px) {
    html{
        font-size:60%;
        .hero_section{
            
           margin: 10px 20px;
    }
    .brand_section{
        margin: 0 auto;
        margin-top: 10rem;
       h3{  
           text-transform: capitalize;
           font-size: 4.0rem;
           margin-left: 6rem;
       }
       .brand_logos{
           height: auto;
           /* margin-top: 3.2rem; */
           background-color: rgba(99,88,198,0.2);
           /* padding: 1.9rem 7.6rem; */
           /* gap:1.6rem; */
           img{
                width: 30%;
               height: 30%;
            &:last-child{
                height: 30%;
               }
           }
       }
       .feature-section{
         display: flex;
       
        .content{
        
            margin: 10px 30px;
           
        }
       
        .image-container img{
            width: 100%;
         }
    
    }
   }
 }
}
@media (max-width:768px) {
    html{
        font-size:50%;
    }
}



















/* .footer{
    display: flex;
    justify-content: space-between;
    margin:24rem;
    .links{
        display: flex;
        flex-direction: column;
       
        h4{
            margin-bottom: 20rem;
         font-size: 18px;
          color: white; 
        }
        .link_container{
            ul{
                margin-top: 10px;
                li{
                    list-style: none;
                    margin: 8px;
                   a{
                    text-decoration: none;
                   }
                }
            }
        }
    }
    
} */